.frontispiece .title, .frontispiece .jsconfeu {
    display: inline-block;
    min-height: 80px;
    padding-top: 120px;
    padding-bottom: 0;
    line-height: 0px;
}

.frontispiece .title {
    padding-right: 10px;
}

.frontispiece .jsconfeu {
    min-width: 200px;
    color: white;
    background: #e2007a;
    font-family: Arial, Helvetica, sans-serif;
}

.slide {
    position: relative;
}

.half {
    width: 50%;
}

.full {
    width: 94%;
}

.image-container {
    height: 80%;
    position: absolute;
    top: 120px;
    right: 3%;
    z-index: -1;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}