.flap .title, .flap .jsconfeu {
    display: inline-block;
    min-height: 80px;
    padding-top: 120px;
    padding-bottom: 0;
    line-height: 0px;
}

.flap .title {
    padding-right: 10px;
}

.flap .jsconfeu {
    min-width: 200px;
    color: white;
    background: #e2007a;
    font-family: Arial, Helvetica, sans-serif;
}

.slide {
    position: relative;
}

.half {
    width: 50%;
}

.full {
    width: 94%;
}

.image-container {
    height: 80%;
    position: absolute;
    top: 120px;
    right: 3%;
    z-index: -1;
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
}

.deck-container .slide h2, .deck-container .slide a, .deck-container .slide a:hover, .deck-container .slide a:focus, .deck-container .slide a:active, .deck-container .slide a:visited {
  color: #e2007a;
}

.monalisa {
    transition: transform 2s;
    -moz-transition: -moz-transform 2s;
    -webkit-transition: -webkit-transform 2s;
    -o-transition: -o-transform 2s;
}


.monalisa.mouth {
    transform: scale(5,5) translateY(150px) rotate(360deg);
    -moz-transform: scale(5,5) translateY(150px) rotate(360deg);
    -webkit-transform: scale(5,5) translateY(150px) rotate(360deg);
    -o-transform: scale(5,5) translateY(150px) rotate(360deg);
    -ms-transform: scale(5,5) translateY(150px) rotate(360deg);
}

.monalisa.road {
    transform: scale(5,5) translateX(200px) rotate(-360deg);
    -moz-transform: scale(5,5) translateX(200px) rotate(-360deg);
    -webkit-transform: scale(5,5) translateX(200px) rotate(-360deg);
    -o-transform: scale(5,5) translateX(200px) rotate(-360deg);
    -ms-transform: scale(5,5) translateX(200px) rotate(-360deg);
}

.pointer {
    position: absolute;
    width: 20px;
    height: 34px;
    top: 0;
    left: 0;
    background-image: url("../image/pointers.png");
    background-position: 0px 0px;
}